{% extends "projbase.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="content">
    <h1>ORM</h1>
    <div class="image-container">
        <img src="{{ asset('img/projectmvc.png') }}" alt="" class="image-size">
    </div>

    <h3> MarineCoverage </h3>

    <p> I denna databas sparas data för "Coverage of protected areas in relation to marine
    areas", för olika regioner i procent. </p> 

    <h3> MarineProtection </h3>
    <p> Här sparas data för marint skydd i olika regioner för olika årtal. </p>

    <h3> SustainableFish </h3>
    <p> I denna databas sparas data av antal hållbara bestånd och antal bedömda bestånd för
    hållbart fiskande. </p>

    <h2> Om databaserna </h2>

    <p> Jag använde SQLite för min databas i applikationen och valde den på grund av att jag tyckte
    den kändes smidigast att arbeta med. Jag skapade databasen på samma sätt som vi gjorde i kursmomentet,
    via Doctrine Orm. </p>

    <p> Jag genomförde några enhetstester mot controllerna för databaserna, något jag inte lyckades med i tidigare
    kursmoment. Med hjälp av andra i discord-chatten lyckades jag till slut! </p>

    <p> Att använda ett ORM-verktyg som Doctrine har enligt mig många fördelar. För det första, gör det processen att skapa
    och underhålla databasen väldigt enkel. Det minskar behovet av att behöva skriva egen SQL-kod och sparar därmed mycket tid
    i sitt arbete. Dessutom genererar den automatiskt Controllers och kod för hantering av sin databas. Detta sparar tid och minskar
    risken för fel. Jag kan inte se några nackdelar med Doctrine för mina ändamål. Jag kan tänka mig att det kan vara svårt att skriva mer
    komplexa databaser med flera kopplingar mellan varandra, men för min databas som var så pass lite, tycker jag att detta var ett utmärkt
    verktyg. </p>
    
    
    Det finns många fördelar med att jobba med ORM. Främst att det är ett effektivt och enkelt sätt att intergera
    databas mot sin symfony-applikation. Den skapar Controllers och kod utan att man själv behöver göra det, vilket är
    mycket tidseffektivt. 


</div>
{% endblock %}