{% extends "projbase.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="content">
    <img src="{{ asset('img/ocean.jpg') }}" alt="" class="image-wide">
    <h1>Statistik</h1>

    <p> Bevara och nyttja haven och de marina resurserna på ett hållbart sätt för en hållbar utveckling.</p>
    <div class="image-container">
        <img src="{{ asset('img/hav.png') }}" alt="" class="image-size">
    </div>
</div>
{% endblock %}