{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}

<h1>Roll a dice</h1>

<p>Here is the value of the card.</p>

<ul class="cardarea">
    <li><span class="card">{{ cardString }}</span></li>
</ul>
{% endblock %}
