{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<div class="content">
    <h1> Om kursen </h1>
    <div class="container">
        <div class="column">
            <p>I kursen Objektorienterade webbteknologier (mvc) kommer vi lära oss
            om objektorienterade programmeringstekniker i PHP. </p>
            <p> I kursen kommer vi att programmera i PHP och använda
            det för att utforska olika aspekter av webbutveckling,
            inklusive syntax, semantik, koppling mot databaser,
            hantering av datastrukturer och användning av inbyggda funktioner.</p>
            <p><button class="link-button" onclick="window.location.href='https://github.com/dbwebb-se/mvc'">KURSREPOT</button></p>
        </div>
        <div class="column">
            <p><button class="link-button" onclick="window.location.href='https://github.com/mayaaedlund/mvc'">MITT REPO</button></p>
            <p> Jag ser fram emot denna kurs! :D </p>
            <div class="image-container">
                <img src="{{ asset('img/computer.jpg') }}" alt="" class="image-size">
            </div>
        </div>
    </div>
</div>
{% endblock %}
