{% extends 'base.html.twig' %}

{% block title %}Välkommen till vårt bibliotek!{% endblock %}

{% block body %}

<h1> Välkommen till vårt bibliotek! </h1>

<p> Välj vad du vill göra nedan: </p>

<a href="{{ path('library_view_all') }}" class="btn btn-primary">Se hela biblioteket här</a><br>

<a href="{{ path('book_add') }}" class="btn btn-primary">Lägg till bok här</a><br>

<a href="{{ path('book_del') }}" class="btn btn-primary">Radera bok här</a><br>


{% endblock %}
