{% extends 'base.html.twig' %}

{% block title %}Välkommen till vårt bibliotek!{% endblock %}

{% block body %}

<h1> This is all our books: </h1>

<ul>
    {% for library in library %}
        <li>
            <img src="{{ library.getImage|e }}" alt="{{ library.getBook|e }}" style="max-width: 300px; max-height: 450px;"><br>
            <a href="{{ path('book_by_id', {id: library.getId}) }}">{{ library.getBook|e }}</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}
